/bin/

.classpath
.project
.settings/
.idea/
.gradle/
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
/build/
*.properties

# mqtt
.lck
*.mapdb
*.mapdb.p
*.mapdb.t

#osx
.DS_Store
